APP_ENV=testing
APP_KEY=
APP_DEBUG=true

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

ELASTICSEARCH_URL=http://searcher:9200
ELASTICSEARCH_INDEX=customers_test
